input[type=text]:focus {
    border: 2px solid #555;
}
.onerow {
    display: inline-block;
}
select {

    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #FFFFe0;
}
.wrapTd
{
    word-wrap: break-word;
    /*min-width: 160px;*/
    max-width: 160px;
    white-space:normal;
}